@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    min-height: 100%;
    background-color: #f2f2f2;
    height: 100px;
}

.wave {
    background: url(/path9.svg) repeat-x;
    background-size: 10% 100%;
    position: absolute;
    bottom: 7px;
    width: 1000%;
    height: 50%;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    z-index: 1;
}

.wave:nth-of-type(2) {
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 3s ease -1.25s infinite;
    opacity: 0.8;
    z-index: 0;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -500%;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0,-10px,0);
    }
    50% {
        transform: translate3d(0,0px,0);
    }
}